<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Hesabımı Düzenle</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= f.input :reset_password_token, :as => :hidden %>
          <%= f.input :password, :label => "Yeni şifreniz", :required => true, :autofocus => true %>
          <%= f.input :password_confirmation, :label => "Yeni şifreniz (tekrar)", :required => true %>
          <%= f.button :submit, "Şifremi değiştir", :class => "btn btn-sm btn-primary" %>
          <%= link_to "Kayıt Ol", new_registration_path(resource_name) %> | <%= link_to "Giriş Yap", new_session_path(resource_name) %>
        <% end %>
      </div>
    </div>
  </div>
</div>