<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <% if @profile.user.current_sign_in_at != nil %>
        <span class="label label-success">Online</span>
      <% else %>
        <span class="label label-danger">Ofline</span>
      <% end %>
     <%= @profile.user.full_name %>
     <p><i><small>Üyelik Tarihi: <%= @profile.user.created_at.strftime("%Y.%m.%d / %H:%M") %></small></i></p>
   </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <%= has_an_avatar %>
      </div>
      <div class="col-md-9 col-sm-9">
        <table class="table table-striped">
          <tr>
            <td>E-Mail Adresi:</td>
            <td><%= @profile.user.email %></td>
          </tr>
          <tr>
            <td>Kullanıcı Adı:</td>
            <td><%= @profile.profile_name %></td>
          </tr>
          <tr>
            <td>Telefon Numarası:</td>
            <td><%= @profile.phone_number %></td>
          </tr>
          <tr>
            <td>Şehri:</td>
            <td><%= @profile.city %></td>
          </tr>
          <tr>
            <td>İlçesi:</td>
            <td><%= @profile.town %></td>
          </tr>
          <tr>
            <td>Adresi:</td>
            <td><%= @profile.address %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p><strong><%= @profile.user.full_name %> <%= @profile.user.notices.count %> tane ilan yayınlamış!</strong></p>
        <table class="table table-striped">
          <tr>
            <th>İlan</th>
            <th>İlan Tarihi</th>
          </tr>
          <% @profile.user.notices.each do |notice| %>
          <tr>
            <td><%= link_to notice.title, notice_path(notice) %></td>
            <td><%= notice.created_at.strftime("%d %B %Y, %H:%M") %>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>